<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QCMJEE</display-name>
  <welcome-file-list>
    <welcome-file>connexion</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>connexionServlet</display-name>
    <servlet-name>connexionServlet</servlet-name>
    <servlet-class>Servlet.connexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexionServlet</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deconnexionServlet</display-name>
    <servlet-name>deconnexionServlet</servlet-name>
    <servlet-class>Servlet.deconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deconnexionServlet</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accueilServlet</display-name>
    <servlet-name>accueilServlet</servlet-name>
    <servlet-class>Servlet.accueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accueilServlet</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>choixTestServlet</display-name>
    <servlet-name>choixTestServlet</servlet-name>
    <servlet-class>Servlet.choixTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>choixTestServlet</servlet-name>
    <url-pattern>/choixTest</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>gestionQuestionServlet</display-name>
    <servlet-name>gestionQuestionServlet</servlet-name>
    <servlet-class>Servlet.gestionQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionQuestionServlet</servlet-name>
    <url-pattern>/gestionQuestion</url-pattern>
  </servlet-mapping>
</web-app>